body {
    background-color: #191919;
    box-sizing: border-box;
}
.logo {
    width: 10rem;
}
.container-output, .container-myList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card {
    margin: 30px;
    background-color: #3B444F;
    color: white;
}
.cardButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.cardButtonHome {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.container-detail{
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 700px;
    margin-top: 20px;
}
.container-detail.row{
    display: flex;
    justify-content: center;
}
.container-fluid{
    display: flex;
    justify-content: center;
}
.container-detail button{
    margin-left: 15.7rem;
    width: 110px;
    margin-top: 2rem;
}
#searchButton{
    background-color: #F86930;
    border: #F86930;
}
#backButton{
    background-color: hotpink;
    border: hotpink;
}

